@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <br />
    @{

        List<string> list = new List<string>();
        list.Add("i");
        list.Add("a");

        foreach (object post in list)
        {
            <div class="row post">
                <div class="col-sm-3 height_box">
                    <div class="col-sm-12 arrow" >
                        <span class="glyphicon glyphicon-chevron-up element"></span>
                    </div>
                    <div class="col-sm-12 count">
                        50,000
                    </div>
                    <div class="col-sm-12 arrow" >
                        <span class="glyphicon glyphicon-chevron-down element"></span>
                    </div>
                </div>
                <div class="col-sm-9 detail height_box">
                    <div class="row top-half half_box">
                        <div class="col-sm-3 status height_box">
                            hi carlos
                        </div>
                        <div class="col-sm-9 title height_box">
                            title
                        </div>
                    </div>

                    <div class="row half_box">
                        <!----- location-->
                        <div class="col-sm-4 height_box">
                            location
                        </div>
                        <!----- username-->
                        <div class="col-sm-4 height_box">
                            username
                        </div>
                        <!----- time-->
                        <div class="col-sm-4 height_box">
                            time
                        </div>
                    </div>
                </div>
            </div>
                <br>
        }

    }
</div>