@{
    ViewBag.Title = "Home Page";

}
<br />

<div class="container">
    
    @{
       
        List<string> list = new List<string>();
        list.Add("i");
        list.Add("a");

        int key = 1000;
        List<object> data = ViewBag.data;


        foreach (Tuple<int,object> pair in data)
        {
            <!----- post-->
            key = (pair.Item1);
            object post = (pair.Item2);
            //var name = post.UserID
            <div class="row post" style="overflow: hidden; overflow-x:auto;">
                <!----- -->
                <div class="col-xs-3 height_box">
                    <!----- up arrow-->
                    <div class="col-xs-12" id="uparrow" >
                        <span class="glyphicon glyphicon-chevron-up element"></span>
                    </div>

                    <!----- count-->
                    <div class="col-xs-12 count" id=voteCounter>
                        50,000

						@*@{ 
							var getCurrentVoteCount = Vote.PostID.GetValueOrDefault();
						}*@



                    </div>

                    <!----- down arrow-->
                    <div class="col-xs-12" id="downarrow" >
                        <span class="glyphicon glyphicon-chevron-down element"></span>
                    </div>
                </div>
                <!----- detail side of post-->
                <div class="col-xs-9 height_box">
                    <!----- top side-->
                    <div class="row top-half half_box">
                        <!----- publisher-->
                        <div class="col-xs-3 status height_box">
                            hi carlos
                        </div>
                        <!----- title-->
                        <div class="col-xs-9 title height_box">
                            title
                        </div>
                    </div>
                    <!----- bottom side-->
                    <div class="row half_box">
                        <!----- location-->
                        <div class="col-xs-4 height_box">
                            location
                        </div>
                        <!----- username-->
                        <div class="col-xs-4 height_box">
                            username
                        </div>
                        <!----- time-->
                        <div class="col-xs-4 height_box">
                            time
                        </div>
                    </div>
                </div>
            </div>
                <br>
        }

    }
</div>

