@{
    ViewBag.Title = "PostDetailView";
}
<br />

<div class="container">

    <!------Post--->
    <div class="row">
        <!--this is where the post divs should go-->
        im the post
    </div>

    <br />

    <!------Pic and descriptions--->
    <div class="row">
        <div class="col-xs-4 picture">
            picture
        </div>

        <div class="col-xs-8 description">
            discription
        </div>

    </div>

    <br />

    <!------Gov Update--->
    <div class="row">
        <div class="col-xs-10">
            gov update
        </div>
        <div class="col-sm-2 btn btn-primary">Edit</div>
    </div>

</div>

